<?xml version="1.0" ?>
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="off" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

  <Service name="Catalina">
    <Connector
      port="8080"
      protocol="HTTP/1.1"
      connectionTimeout="20000"
      maxThreads="400"
      scheme="https"
      proxyPort="443"
      relaxedQueryChars="[]|{}^&#x5c;&#x60;&quot;&lt;&gt;"
    />

    <Engine name="Catalina" defaultHost="localhost">
      <Host
        name="localhost"
        appBase="webapps"
        unpackWARs="false"
        autoDeploy="false">

        <Valve
          className="org.apache.catalina.valves.AccessLogValve"
          directory="logs"
          prefix="tomcat_access" suffix=".log"
          pattern="%h %l %u %t &quot;%r&quot; %s %b" />

      </Host>
    </Engine>
  </Service>
</Server>
