<?xml version="1.0" ?>
<Server port="-1" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

  <Service name="Catalina">
    <Connector
      port="8080"
      protocol="HTTP/1.1"
      connectionTimeout="${TOMCAT_CONNECTION_TIMEOUT}"
      asyncTimeout="${TOMCAT_ASYNC_TIMEOUT}"
      acceptCount="${TOMCAT_ACCEPT_COUNT}"
      maxThreads="${TOMCAT_MAX_THREADS}"
      xpoweredBy="false"
      server="Tomcat ${TOMCAT_MAJOR} ${HOSTNAME}"
      scheme="https"
      disableUploadTimeout="true"
      URIEncoding="UTF-8"
      relaxedQueryChars="${TOMCAT_RELAXED_QUERY_CHARS}"
      relaxedPathChars="${TOMCAT_RELAXED_PATH_CHARS}"
      encodedSolidusHandling="${TOMCAT_ENCODED_SOLIDUS_HANDLING}"
      allowBackslash="false"
    />

    <Engine name="Catalina" defaultHost="localhost">
      <!--CLUSTERING-->


      <Host
        name="localhost"
        appBase="webapps"
        unpackWARs="false"
        autoDeploy="false">

        <Valve className="org.apache.catalina.valves.ErrorReportValve"
               errorCode.404="errorpages/404.html"
               errorCode.401="errorpages/401.html"
               errorCode.400="errorpages/400.html"
               errorCode.0="errorpages/0.html"
               showServerInfo="false"
        />

        <Valve
          className="org.apache.catalina.valves.AccessLogValve"
          directory="logs"
          prefix="tomcat_access.log"
          renameOnRotate="true"
          suffix=""
          rotatable="true"
          encoding="UTF-8"
          fileDateFormat=".${TOMCAT_ACCESS_LOG_FILE_DATE_FORMAT}"
          pattern="%{yyyy-MM-dd'T'HH:mm:ss.SSS}t&#009;%{X-Forwarded-For}i&#009;%{Content-Type}i&#009;%{User-Agent}i&#009;%h&#009;%l&#009;%u&#009;&quot;%r&quot;&#009;%s&#009;%b" />

        <Valve className="org.apache.catalina.valves.RemoteIpValve"
          hostHeader="X-Forwarded-Host"
          protocolHeader="X-Forwarded-Proto" />

        <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve"
               threshold="600" />


      </Host>
    </Engine>
  </Service>
</Server>
