<?xml version="1.0" ?>
<Server port="-1" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="off" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

  <Service name="Catalina">
    <Connector
      port="8080"
      protocol="HTTP/1.1"
      connectionTimeout="20000"
      maxThreads="400"
      xpoweredBy="false"
      server="Tomcat ${TOMCAT_MAJOR} ${HOSTNAME}"
      scheme="https"
      relaxedQueryChars="[]|{}^&#x5c;&#x60;&quot;&lt;&gt;"
      relaxedPathChars="[]|{}^&#x5c;&#x60;&quot;&lt;&gt;"
    />

    <Engine name="Catalina" defaultHost="localhost">
      <Host
        name="localhost"
        appBase="webapps"
        unpackWARs="false"
        autoDeploy="false">

        <Valve className="org.apache.catalina.valves.ErrorReportValve"
               errorCode.404="errorpages/404.html"
               showServerInfo="false"
        />


        <Valve
          className="org.apache.catalina.valves.AccessLogValve"
          directory="logs"
          prefix="tomcat_access.log"
          renameOnRotate="true"
          suffix=""
          rotatable="true"
          encoding="UTF-8"
          pattern="%{yyyy-MM-dd'T'HH:mm:ss.SSS}t&#009;%{X-Forwarded-For}i&#009;%{Content-Type}i&#009;%{User-Agent}i&#009;%h&#009;%l&#009;%u&#009;&quot;%r&quot;&#009;%s&#009;%b" />

        <Valve className="org.apache.catalina.valves.RemoteIpValve"
          hostHeader="X-Forwarded-Host"
          protocolHeader="X-Forwarded-Proto" />

      </Host>
    </Engine>
  </Service>
</Server>
